.heading
{
width: 100%;
text-align: left;
}
body{
    background-size: cover;
    }  
h4
{
    background-color:darkcyan;
    line-height: 2;
    margin: 0px;
}
.heading h3{
    display: inline;
}
.heading button{
    float: right;
    border: 1px solid white;
}
#start,#status
{
    font-size: 22px;
}